@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
.app-bar-item {
  margin: 10px;
}

.App {
  font-family: "Overpass", sans-serif;
}
.App footer {
  font-family: "Ubuntu", sans-serif;
}

.button {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.623);
}

body {
  font-size: 16px;
}

.tooltip {
  width: 100px;
  background: white;
  color: black;
  font-weight: normal;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  display: none;
}

.tooltip[data-show] {
  display: block;
}

.arrow-up {
  -webkit-animation: up 0.3s ease-in;
          animation: up 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.arrow-down {
  -webkit-animation: down 0.3s ease-in;
          animation: down 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}

@keyframes up {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  100% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
}
@keyframes down {
  0% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  100% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
}